<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/context/ 
  http://www.springframework.org/schema/context/spring-context.xsd">
		


<bean id="petrol" class = "com.daxasoft.beans.Diesel">
<!-- Configuration details for setter injection -->
<!-- <property name="engineManufacturer" value="Revtorq"/>
<property name="engineHorsePower" value="105"/> -->

<!-- Configuration details for Constructor Injection  -->

<constructor-arg name= "engineManufacturer" value = "Revtorq"/>
<constructor-arg name="engineHorsePower" value = "110" type="int"/>
</bean>

</beans>